# Python Programming Essentials Course

üë®üèª‚Äçüè´ Instructor: **Ali Ghafari**

üìÖ Date: *13/10/2024*

## Session 3

### Data Types

Supported data types in python (but not limited to!):


*   Numeral (covered in session 1)
*   Boolean (covered in session 2)
*   String (covered in session 2)
*   List
*   Tuple
*   Dictionary
*   Set
*   ...

#### List

In [5]:
y = 125
x = [1, 2, 2.5, 'Hello', ['Salam'], 'Hello', y]

In [6]:
print(x)

[1, 2, 2.5, 'Hello', ['Salam'], 'Hello', 125]

In [15]:
x = [1, 2, 3]
print(x)
x[1] = 4
print(x)

[1, 2, 3]
[1, 4, 3]

In [23]:
x = [1, 2]
y = [3, 4]
print(x * 2)

[1, 2, 1, 2]

#### Tuple

In [24]:
x = ('1', 2, 3)
y = ('Salam', 'Aleik')

In [31]:
x + y

('1', 2, 3, 'Salam', 'Aleik')

In [30]:
x * 3

('1', 2, 3, '1', 2, 3, '1', 2, 3)

#### Dictionary

In [40]:
x = {1:'one',2:'two',3:'three',4:'four'}

In [42]:
print(x)

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [39]:
x['three']

3

#### Set

In [44]:
x = {1,2,3,3,4,5,1}
print(x)

{1, 2, 3, 4, 5}

### Converting Data Types

In [47]:
x = 1.25
print(int(x))
print(float(x))

1
1.25

In [50]:
print(str(x))

1.25

In [54]:
x = 1
y = 2.5

In [56]:
complex(x, y)

(1+2.5j)