# Python Programming Essentials Course

üë®üèª‚Äçüè´ Instructor: **Ali Ghafari**

üìÖ Date: *10/11/2024*

## Session 5

### Methods

#### List Methods

![List Methods](Files/Methods/2.jpg)

In [14]:
numerals = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
numerals_names = ['Zero', 'One', 'Two', 'Three', 'Four', 'Five', 'Six', 'Seven', 'Eight', 'Nine']

In [16]:
numerals.clear()
print(numerals)

[]

In [12]:
numerals.reverse()

In [13]:
print(numerals)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

#### Tuple Methods

![Tuple Methods](Files/Methods/3.jpg)

In [23]:
tuple_1 = (10, 20, 30, 20, 30)
print(tuple_1)

(10, 20, 30, 20, 30)

In [20]:
tuple_1.count(40)

0

In [24]:
tuple_1.index(20, 3)

3

#### Set Methods

![Set Methods](Files/Methods/5.jpg)

In [31]:
a = {10, 20, 30}
b = {10, 20, 30, 40}
a.intersection(b)

{10, 20, 30}

In [29]:
b.issuperset(a)

True

#### Dictionary Methods

![Dictionary Methods](Files/Methods/6.jpg)

In [53]:
# Sample dictionary
student_info = {
    "name": "Mohammad",
    "age": 22,
    "major": "Computer Science",
    "courses": ["Data Structures", "Algorithms", "Web Development"],
    "grades": {
        "Data Structures": "A",
        "Algorithms": "B+",
        "Web Development": "A-"
    },
    "is_enrolled": True
}

In [45]:
student_info.keys()

dict_keys(['name', 'age', 'major', 'courses', 'grades', 'is_enrolled'])

In [48]:
print(student_info.get('car brand', None))

None

In [51]:
dict_1 = {'Car Brand':'Nissan'}

In [54]:
print(student_info.update(dict_1))
print(student_info)

None
{'name': 'Mohammad', 'age': 22, 'major': 'Computer Science', 'courses': ['Data Structures', 'Algorithms', 'Web Development'], 'grades': {'Data Structures': 'A', 'Algorithms': 'B+', 'Web Development': 'A-'}, 'is_enrolled': True, 'Car Brand': 'Nissan'}

In [37]:
student_info.keys()

dict_keys(['name', 'age', 'major', 'courses', 'grades', 'is_enrolled'])

In [39]:
student_info.setdefault('Car Brand', 'Nissan')

'Nissan'

In [40]:
student_info.keys()

dict_keys(['name', 'age', 'major', 'courses', 'grades', 'is_enrolled', 'Car Brand'])

### Functions

In [78]:
def to_power(a, b=2):
    c = a ** b
    return c

In [79]:
def to_power_2(a, b):
    c = a ** b
    return c

In [84]:
y = to_power_2(8, 2)

In [85]:
x = to_power(b = 8, a = 2)

In [87]:
z = to_power_2(10, b = 3)

In [88]:
def lower_string(string_value='Hello'):
    print(string_value.upper())
    temp = string_value.lower()
    return temp

In [90]:
x = lower_string('Salam')

SALAM

In [91]:
x

'salam'